body {
  background-image: url(./gifbackground.gif);
  background-size: cover;
  background-repeat: repeat-y;
  
}

.repo{
  width: 400px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  border-radius: 16px;
  padding: 15px 25px;
  color: #FFF;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 0.5px 1.3px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.links{
  text-decoration: none;
  color: plum;
  font-size: medium;
}

h1 {
	display: inline;
	position: relative;
	font: 100px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5); 
}

span {
  color: darkblue;
}

h1:after {
  display: inline;
	content: "Carolina's";
  position: absolute; left: 10px; top: 5px;
	color: rgba(255,0,0,0.5);   
}